




/*
body[data-bs-theme=dark] a:not(.custom-btn){
	color: #fff;
}


body:not([data-bs-theme=dark]) a{
	color: #000;
}
*/
a{
	color: #000;
}

[data-bs-theme=dark] a{
	color:#ffffff;
}

[data-bs-theme=dark] .bg-white.custom-btn {
    background: #444444 !important;
}


a:hover{
	color: var(--green2);
}

a, a:hover{
	text-decoration: none;
}

ul,li,h1,h2,h3,h4,h5,h6 {
	list-style-type:none;
	margin:0;
	padding:0
}

img{
	max-width: 100%;
}

p:last-child{
	margin: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]), textarea, select {
    width: 100%;
    color: #454545;
	border: 1px solid #d0d0d0;
	padding: 3px 7px;
	font-size: 14px;
	line-height: 15px;
}

/*------------------------------------*\
    		WRAPPER CSS
\*------------------------------------*/
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.main {
	
}


/*------------------------------------*\
    		BUTTON CSS
\*------------------------------------*/
.custom-btn{
	display: inline-flex;
	padding: 10px 20px;
	border-radius: 30px;
	justify-content: center;
	font-size: 15px;
    line-height: 20px;
	font-weight: 700;
	background: var(--sky);
	color: #fff ;
	transition: all.3s;
    border: 1px solid var(--sky);
}

.border-bl-btn{
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.custom-btn.sm-btn{
	line-height: 12px;
	font-size: 12px;
	font-weight: 500;
	padding: 8px 20px;
}

.custom-btn img{
	vertical-align: middle;
}

/*------------------------------------*\
		TYPOGRAPHY FONT CSS
\*------------------------------------*/
.light{	    font-weight:300; }
.regular{	font-weight:400; }
.medium{	font-weight:500; }
.semibold{	font-weight:600; }
.bold{	    font-weight:700; }
.extrabold{	font-weight:800; }

h1{     font-size: 30px;	line-height: 45px;}
h2{	    font-size: 28px;	line-height: 32px;}
h3, .fs-24{ 	font-size: 24px;	line-height: 28px;}
h4, .fs-18{		font-size: 18px;	line-height: 22px;}
h5, .fs-16{		font-size: 16px;	line-height: 20px;}
h6, .fs-14{		font-size: 14px;	line-height: 19px;}
.fs-20    {		font-size: 20px; line-height: 26px;  }
.fs-22    {		font-size: 22px; line-height: 28px;  }

.fs-17    {     font-size: 17px;	line-height: 23px;}
.fs-15    {     font-size: 15px;	line-height: 22px;}
.fs-13    {     font-size: 13px;	line-height: 17px;}
.fs-12    {     font-size: 12px;	line-height: 18px;}
.fs-11    {     font-size: 11px;	line-height: 15px;}
.fs-10    {     font-size: 10px;	line-height: 14px;}

.rounded-10{
	border-radius: 10px;
}

/*------------------------------------*\
		TEXT COLOR CSS
\*------------------------------------*/
.text-black{	color: #000 !important;}
.text-sky{	color: var(--sky);  }
.text-gray{color: #999999;}

.bg-sky{	background: var(--sky);	}
.bg-pink{       background: var(--pink);      }
.bg-lightblue{	background: var(--lightblue); }
.bg-lightgray{	background: var(--lightgray); }
.bg-darkpink{	background: #9A148D;        }
.bg-brown{	background: #9D6107;        }
.bg-red{	background: #ED4B4B !important;        }
.bg-green{	background: #149A21;        }
.bg-green2{	background: #14929A;        }
.bg-red2{	background: #9A1414;        }
.bg-blue{	background: #14319A;        }


.bg-pink-grad{background: linear-gradient(180deg, #F5B0CB 0%, rgba(255, 255, 255, 0) 100%);}
.bg-lightblue-grad{background: linear-gradient(180deg, #C5D9EA 0%, rgba(255, 255, 255, 0) 100%);}
.bg-lightgray-grad{background: linear-gradient(180deg, #D3D0CB 0%, rgba(250, 250, 250, 0) 100%);}
.bg-purple-grad{background: linear-gradient(180deg, #B19CD9 0%, rgba(255, 255, 255, 0) 100%);}


.text-green{	color: #119627;  }
.text-red{	    color: #ED4B4B;  }
.text-blue{	    color: #2246C4;  }
.text-darkpink{	color: #9A148D;  }
.text-brown{ 	color:#9D6107;}
.text-yellow{ 	color: #E2C00D;}
.text-green2{ 	color: #14929A;}
.text-red2{ 	color: #9A1414;}
.text-blue{ 	color: #14319A;}



/*------------------------------------*\
    		FORM CSS
\*------------------------------------*/



input:focus, select:focus{
	outline:none;
}

input[type=checkbox]{
	width: 15px;
	height: 15px;
	accent-color: rgba(10, 10, 10, 0.7);;
}

textarea{
	resize: none;
}

/*------------------------------------*\
    		GLOBAL CSS
\*------------------------------------*/
.br-rad{
	border-radius: var(--br);
}

.bg{
	background-color: var(--bg);
}


/*------------------------------------*\
    		HEADER CSS
\*------------------------------------*/
.top-header{
	background: #1D1D1D;
}

.page-header{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.checkin-btn{
	background: #57D188;
	border-color: #57D188;
}

.header .border-end, .header .border-start{
	border-color: #78889B !important;
}

.site-search{
	background: #3A3A3A;
	border-radius: 30px;
	padding: 5px 16px;
}

.site-search form input{
	min-width: 200px;
}

.site-search form input, .site-search form input::placeholder{
	color: #9B9B9B;
}

.nav_area ul li {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	padding: 18px;
}

.nav_area ul li.active, .nav_area ul li:hover{
	background: var(--sky);
}

.nav_area ul li.active a, .nav_area ul li:hover a{
	color: #fff;
}


ul.sub-menu li {	
	position: relative;
	display: block;
}
ul.sub-menu li::before{
	content: '';
	background-color: var(--black);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: 20px;
	top: 25px;
}
ul.sub-menu li:hover ul.sub-menu li::before{
	background-color: #fff !important;
}
ul.sub-menu li a {
    padding: 5px 10px 5px 10px;
    font-size: 12px;
	line-height: 12px;
    display: inline-block;
    font-weight: 500;
	color: var(--black2) !important;
}

.nav_area ul li:hover span.arrow{
	color: #fff !important;
}


/* ------ THEME MODE ----- */

span.theme-mode{
	display: inline-block;
	vertical-align: middle;
}

span.theme-mode label{    
    width: 55px;
	height:26px;
    background:#3f3f3f;
    padding: 3px 5px;
    border-radius: 25px;
    margin-left: 10px;
	cursor: pointer;
	position: relative;	
}

span.theme-mode label:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px #111;
	position: absolute;
	left: 4px;
	transition: transform 0.2s linear;
}

span.theme-mode input:checked ~ label{
	background-color: #000;
}

span.theme-mode input:checked ~ label:before{
	background: #fff; 
	transform: translateX(24px);
}

span.theme-mode  i.fa-sun{	
	padding-right: 4px;
	color: #f1c40f;
}
span.theme-mode  .fa-moon {
    color: #f1c40f;
	padding-left: 3px;
}

/* ---------------PROFILE-DROPDOWN------------ */
.rounded-4{
	border-radius: 4px !important;
}



.profile-dropdown{
	background: linear-gradient(11.88deg, #B0E2FF 0%, #FFFFFF 100%);
	max-width: 345px;
	width: 345px;
	position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    right: -100%;
    transition: all .4s;
}
.profile-dropdown.show{
	right: 0;
}
.profile-dropdown .collapse-butn{
	background: rgba(250, 250, 250, 0.4);
	box-shadow: inset 2.62px -2.62px 2.62px rgba(210, 210, 210, 0.382), inset -2.62px 2.62px 2.62px rgba(255, 255, 255, 0.382);
	backdrop-filter: blur(13.231px);
}
.profile-dropdown a[aria-expanded="true"], .profile-dropdown a.collapse-butn:hover {
    background: var(--sky);
    color: #fff;
}
.profile-dropdown form input{
	border: 1px solid #0A0A0A !important;
	border-radius: 4px;
	background: transparent;
	padding: 7px !important;
}
.open-collapse{
	position: fixed;
    top: -100%;
	right: 0;
	height: 100%;
	width: 345px;
    transition: all .4s;
	z-index: 1;
	background: linear-gradient(11.88deg, #B0E2FF 0%, #FFFFFF 100%);
}
.open-collapse.show{
	top: 0;
}


/*------------------------------------*\
    		DARK THEME CSS
\*------------------------------------*/
[data-bs-theme=dark] form.search-form {
    background: var(--bs-secondary-bg);
}

[data-bs-theme=dark] .border-bl-btn {
    color: #fff;
    border-color: #fff;
}

[data-bs-theme=dark] .download-menu a > img ,
[data-bs-theme=dark] .user-info > a img,
[data-bs-theme=dark] .send-mail label img,
[data-bs-theme=dark] .mail-action a img{
    filter: invert(97%) sepia(100%) saturate(11%) hue-rotate(202deg) brightness(105%) contrast(102%);
}

[data-bs-theme=dark] .filter-menu a.collapse-butn:after,
[data-bs-theme=dark] .close-modal{
	color: #fff;
}

[data-bs-theme=dark]  .bg-white {
    background: #222e3c !important;
}

[data-bs-theme=dark]  .text-black, 
[data-bs-theme=dark]  ul.sub-menu li a{
    color: #fff !important;
}

[data-bs-theme=dark]  ul.sub-menu li::before  {
	background-color: #fff !important;
}

[data-bs-theme=dark] .add-form input:not([type=checkbox]):not([type=radio]):not([type=submit]),
[data-bs-theme=dark] .add-form select, 
[data-bs-theme=dark] .site-form input:not([type=checkbox]):not([type=radio]):not([type=submit]), 
[data-bs-theme=dark] input:not([type=checkbox]):not([type=radio]):not([type=submit]), 
[data-bs-theme=dark] textarea, 
[data-bs-theme=dark] select{
    background: transparent;
	color: #bdc0c5;
}

[data-bs-theme=dark] .add-form input::placeholder,
[data-bs-theme=dark] input:not([type=checkbox]):not([type=radio]):not([type=submit])::placeholder{
	color: #bdc0c5;
}

[data-bs-theme=dark]  .select2-container--default .select2-selection--single{
	background-color: transparent;
}

[data-bs-theme=dark] .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #bdc0c5;
}

[data-bs-theme=dark] .attach-btn{
	background: #000;
}

[data-bs-theme=dark] .profile-dropdown,
[data-bs-theme=dark] .open-collapse{
	background: #222e3c ;
}

[data-bs-theme=dark] .profile-dropdown .collapse-butn {
    background: rgb(103 103 103 / 20%);
	border-bottom: 1px solid #ccc;
	box-shadow: none;
}

[data-bs-theme=dark]  .select2-container--default .select2-results__option--highlighted[aria-selected],
[data-bs-theme=dark]  .select2-container--default .select2-results__option[aria-selected=true] {
    color: #000;
}

/*------------------------------------*\
    		MAIN CSS
\*------------------------------------*/

body:not([data-bs-theme=dark]){
	background: linear-gradient(180deg, #EBF8FF 0%, rgba(255, 255, 255, 0) 100%);
}


.main{	
	min-height: calc(100vh - 137px);
}

.dashboard-box{
	padding: 15px 25px;
	border-radius: 10px;
}

.dashboard-box h2{
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
}

.dashboard-box h2 span{
	border-radius: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	padding: 5px 12px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.dashboard-box h5 img{
	margin-right: 7px;
	vertical-align: baseline;
}

.value-down{
	background: #FFDACC;
	color: #D46D73;
}

.value-up{
	color: #299B00;
	background: #D4FDC5;
}

.box-1{
	background: linear-gradient(180deg, #FFC0A9 0%, rgba(255, 255, 255, 0) 100%);
}

.box-2{
	background: linear-gradient(180deg, #BFFFA9 0%, rgba(255, 255, 255, 0) 100%);
}

.box-3{
	background: linear-gradient(180deg, #BFA9FF 0%, rgba(255, 255, 255, 0) 100%);
}

.box-4{
	background: linear-gradient(180deg, #FFA9DD 0%, rgba(255, 255, 255, 0) 100%);
}



/*----------- TAB CSS ----------*/

.main-tab .custom-btn:not(.active) {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.sub-tab .custom-btn:not(.active){
	background: transparent;
	color: #000;
	border: 0;
}

.dash-acco-title[aria-expanded=true] i{
	transform: rotate(180deg);
}

.dashboard-bg:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	background-image: url(../img/dashboard-bg.svg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	z-index: -1;
}

.dashboard-bg > div{
	padding-bottom: 150px;
}

/*----------- TABLE CSS ----------*/

.default-table{
	overflow: hidden;
}

.default-table tr th:first-child, .default-table tr td:first-child{
	padding-left: 20px;
}

.default-table tr th,.default-table tr td {
	padding: 10px 5px;
	vertical-align: top;
	border-bottom: 1px solid #DCDCDC;
}

.default-table tr:last-child td {
	border-bottom: 0;
}

ul.dropdown-menu {
    min-width: max-content;
}

/*------------------------------------*\
    		ALERT CSS
\*------------------------------------*/

.page-title{
	border-radius: 24px;
	background: linear-gradient(90deg, #229ADF 0%, rgba(34, 154, 223, 0) 75.65%);
	color: #fff;
}

.search-form{
	border: 1px solid #1d1d1d;
	padding: 4px 12px;
	border-radius: 18px;
}

.search-form input{
	border: 0 !important;
}

.filter-bar-icon, .action-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 28px;
	background: #229ADF;
	color: #fff;
	border-radius: 4px;
}



.filter-title{
	border-radius: 10px 10px 0px 0px;
}
.filter-menu{
	width: 230px;
}
.download-menu > div{
	padding: 12px 16px;
}
.filter-menu input[type=radio]{
	width: 14px;
	height: 14px;
	border: 1px solid #0A0A0A;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;   
    outline: none;
    cursor: pointer;
	accent-color: var(--sky);
}


.filter-menu a.collapse-butn{
	padding: 12px 16px;
	display: block;
}
.filter-menu a.collapse-butn:after{
	content: '\f107';
    position: absolute;
    right: 16px;
    color: #000;
    z-index: 1;
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
}
.filter-menu a[aria-expanded="true"]{
	background: var(--sky);
	color: #fff;
}
.filter-menu a[aria-expanded="true"]::after{
	rotate: 180deg;
	color: #fff;
}



.result-number{
	width: 28px;
	height: 28px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.deafult-list li{
	list-style: decimal;
	padding-bottom: 5px;
}



.alert-table tr th{
	padding: 18px 20px;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #dddddd;
}

.alert-table tr th:last-child, .alert-table tr td:last-child{
	border-right: 0;
}

.alert-table tr td{
	vertical-align: top;
    padding: 8px 20px;
	line-height: 18px;
	border-right: 1px solid #DDDDDD;
}

/*------------------------------------*\
    		LEAD CSS
\*------------------------------------*/

.lead-box{
	min-height: 190px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lead-box table tr > *:last-child{
	width: 100px;
	padding-right: 10px;
}


/*------------------------------------*\
    		ADD FORM CSS
\*------------------------------------*/
.add-form input:not([type=checkbox]):not([type=radio]):not([type=submit]), .add-form  select,
.site-form input:not([type=checkbox]):not([type=radio]):not([type=submit]){
	border: 1px solid #D0D0D0;
	border-radius: 4px;
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 15px;
}

.add-form select{
	-webkit-appearance: none;
	background: url(../img/icon/drop-down-button.svg) no-repeat right 10px center;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    opacity: 0;
}

.select2-container {
    width: 100%;
    display: block;	
    z-index: 1;
	font-weight: 500;
	font-size: 12px;
}

.select2-results {   
    font-family: Raleway, sans-serif;
	font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	background: url(../img/icon/drop-down-button.svg) no-repeat right 10px center;
}

.attach-btn{
	font-weight: 500;
	font-size: 12px;
	background: #C7C7C8;
	padding: 7px 12px;
	line-height: 14px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar{
	display: none;
}

.select2-results__option {
    line-height: 15px;
    font-size: 14px;
    padding: 8px 10px 8px 35px;

}

.select2-container--default .select2-results__option--highlighted[aria-selected] ,
.select2-container--default .select2-results__option[aria-selected=true]{
	background-image: url(../img/icon/tick.svg);
	background-repeat: no-repeat;
	background-position: left 10px center;
    background-color: transparent;
    color: initial;
}

span.select2-search.select2-search--dropdown {
    display: none;
}


/*------------------------------------*\
    		ACTION TABLE CSS
\*------------------------------------*/

.modal-footer button{
	min-width: 90px;
	text-align: center;
}

.acco-info-btn[aria-expanded="true"]{
	rotate: 180deg;
}

.action-first {
    width: 120px;
}

.acco-info-table table tr td, .edit-info-table table tr td{
	vertical-align: top;
}

.edit-info-table input{
	border-radius: 15px;
}

.paginations a {
    display: inline-block;
    color: #767676;
    border-radius: 10px;
    padding: 5px 13px;
    font-size: 14px;
	line-height: 18px;
	font-weight: 700;
    transition: all .3s ease-in;
	border-radius: 4px;
}
.paginations .page-active, .paginations a:hover {
    background: var(--sky) !important;
    color: #fff;
}
.paginations a.prev-btn, .paginations a.next-btn{
	background: #F5F5F5;
}
.custom-number::-webkit-inner-spin-button {
	opacity: 1;
}
.custom-number{
	width: 48px !important;
	background: #F6F6F6;
}
.close-modal{
	border: 1px solid var(--black2);
	color: var(--black2);
	background: transparent;
}
.butn-group button{
	min-width: 88px;
	justify-content: center;
}

.mail-box {
    max-width: 560px;
    position: fixed;
    bottom: 0;
    right: 20px;
}

.mail-action a{
	display: inline-block;
	line-height: normal;
}

.mail-action a img{
	vertical-align: bottom;
}

.mail-box .mail-close{
	border-radius: 4px;
	width:18px;
	height: 18px;
}
.mail-box input::placeholder{
	color: var(--black2);
}
.mail-box .choose-heading{
	border-top: 1px dashed #E3E1E1;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.mail-box .attachment{
	cursor: pointer;
}

.email-detail::-webkit-scrollbar{
	display: none;
}

.email-detail{
	scrollbar-width: none;
}

/*------------------------------------*\
    		CRM CSS
\*------------------------------------*/

.crm-table tbody tr:first-child td{
	padding-top: 20px;
	line-height: 16px;
}

.manage-table .action-first{
	width: 70px;
}
.action-first span.number{
	width: 48px;
	height: 48px;
	background-color: #FDF4E0;
	color: #F5BD64;
}

.report-list a.active{
	border: 1px solid var(--sky) !important;
}

/*------------------------------------*\
    		LOGIN CSS
\*------------------------------------*/


.login-bg > .container:before {
	content: '';
    display: block;
    width: 307px;
    height: 307px;
	position: absolute;
	right: 0;
	top: 0;
    background: url(../img/icon/orange-shape.svg) no-repeat top right;
}

.login-bg > .container:after {
	content: '';
    display: block;
    width: 307px;
    height: 307px;
	position: absolute;
	right: 0;
	bottom: 0;
    background: url(../img/icon/purple-shape.svg) no-repeat bottom right;
	
}

.login-bg > .container > div{
	position: relative;
	z-index: 2;
}

.login-bg{
    min-height: 100vh;
}

.login-left{
    background: rgba(247, 247, 247, 0.25);
    backdrop-filter: blur(44.0027px);
    border-radius: 40px 0px 0px 40px;
}

.login-right{
    background: linear-gradient(136.21deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(27.5px);    
    border-radius: 0px 40px 40px 0px;
}

.login-bg:before{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(143.94deg, rgba(176, 214, 233, 0) 0%, #229ADF 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.login-bg:after{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    background: #E7EAF2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

form.signup-form input:not([type="checkbox"]), form.signup-form select {
    width: 100%;
    padding: 15px 35px !important;
    border-radius: 35px;
    color: var(--black2) !important;
    font-weight: 500;
    font-size: 14px !important;
	line-height: 24px !important;
    border: 1px solid var(--black2);
}

form.signup-form  .otp-field input{
    width: 43px !important;
    height: 48px;
    border-radius: 10px;
    -webkit-appearance: none;
    padding: 5px !important;
    text-align: center;
}

.blur-body{
	filter: blur(50px);
}

.pwd-success{
	background: linear-gradient(80.85deg, #4AB3F0 -8.54%, #FCFCFC 105.37%);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	max-width: 660px;
	width: 100%;
}